# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# JetBrains IDEs
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace

# Go
vendor/
go.sum

# Environment variables
.env
.env.local

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# PostgreSQL
*.pid
*.lock
postgres_data/
